{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="header-container">
    <div class="header-content">
      <img src="{% static 'images/MVLUCollege-Logo-final.png' %}" alt="MVLU ChatBot Image">
      <h1>MVLU ChatBot</h1>
    </div>
  </div>
  
<div id="chatbot-container">
    <div id="chatbot-dialogue"></div>
    <form id="chatbot-form" method="post" action="{% url 'bot' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
        <input type="text" class="form-control mr-2" name="input_text" placeholder="Type your query related to MVLU college..." aria-label="Recipient's username" aria-describedby="button-addon2">
        <button type="submit" class="btn btn-warning btn-lg ml-2" id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
            <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
          </svg></button>
        </div>
        
    </form>
</div>

{% endblock content %}

{% block js %}
<script>
    const form = document.getElementById('chatbot-form');
    const dialogueContainer = document.getElementById('chatbot-dialogue');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = new FormData(form);
        const url = form.getAttribute('action');
        const inputText = formData.get('input_text').trim();
        if (!inputText) {
            const errorMessage = '<p class="error-message">Please enter a message.</p>';
            dialogueContainer.innerHTML += errorMessage;
            return;
        }
        fetch(url, {
            method: 'POST',
            body: formData,
        })
        .then(response => response.text())
        .then(data => {
            const userMessage = '<p class="user-message">' + formData.get('input_text') + '</p>';
            const botMessage = '<p class="bot-message"><strong>Bot:</strong> ' + data + '</p>';
            dialogueContainer.innerHTML = dialogueContainer.innerHTML + userMessage + botMessage;
            form.reset();
            dialogueContainer.scrollTop = dialogueContainer.scrollHeight;
        })
        .catch(error => console.error(error));
    });
</script>

{% endblock js %}

