{% extends 'base.html' %}

{% block content %}
    <div id="header">
        <h1>Welcome to MVLU ChatBot</h1>
    </div>

    <div class="container">

        <div id='description'>
        <p>Welcome to the MVLU ChatBot! Our chatbot is designed to provide you with accurate and up-to-date information about the college. Type your query, and our chatbot will help you find the answers you need.</p><br>

        <p>Say goodbye to the hassle of navigating multiple websites or contacting different departments for information.Our chatbot  is one spot solution for all the information you need about MVLU college.</p>

    </div>

        <div class="link-container">
            <a href="{% url 'bot' %}" id="bot-link">Use Bot</a>
        </div>
    </div>
{% endblock content %}
