{% extends 'base.html' %}

{% block content %}
    <div id="header">
        <h1>Welcome to MVLU ChatBot</h1>
    </div>

    <div class="container">
        <p id='description'>Welcome to the MVLU ChatBot! Type in any question or query about the college campus and our chatbot will provide you with accurate and up-to-date information about the faculty, staff, and department heads. Find out who the head of the department is, and who the principal of the college is. With our chatbot, you can save time and get all the information you need in one place. Try it out and make your journey at MVLU easier!</p>

        <div class="link-container">
            <a href="{% url 'bot' %}" id="bot-link">Use Bot</a>
        </div>
    </div>
{% endblock content %}
