{% extends 'base.html' %}

{% block content %}
    <div id="header">
        <h1>Questions</h1>
    </div>

    <div class="container">

        <div id='description'>
            <h1>You may ask this type of questions related to locations</h1>
            <ul>
                {% for location in locations %}
                  <li>{{ location.text }}</li>
                {% endfor %}
              </ul>
              <br>
            <h1>You may ask this type of questions related to Staffs</h1>
            <ul>
                {% for staff in staffs %}
                  <li>{{ staff.text }}</li>
                {% endfor %}
              </ul>
    </div>

        <div class="link-container">
            <a href="{% url 'bot' %}" id="bot-link">Use Bot</a>
        </div>
    </div>
{% endblock content %}
